################################################
## Archivos o directorios a excluir del commit##
################################################
local editor
.vscode/

# local backups
backup_code_pclin5/

############################################
# Generated outputs (never track)
############################################
# Ignore everything under outputs/pdf/ & outputs/root/ & outputs/log/
outputs/pdf/*
outputs/root/*
outputs/log/*

# Allow the directories we want to keep
#!outputs/pdf/
#!outputs/root/
#!outputs/log/

# Allow placeholders in those dirs
!outputs/pdf/.keep_dir
!outputs/root/.keep_dir
!outputs/log/.keep_dir

############################################
# External data (downloaded, not tracked)
############################################
# Ignore everything under data/external/ and data/sample/
data/external/*
data/sample/*


############################################
# Large binaries anywhere
############################################
*.root
*.zip
*.pdf
*.png
*.svg

############################################
# Logs / temp
############################################
*.log
*.out
*.err
*~
.DS_Store

############################################
# External data
############################################

# Allow selected CRNS ROOT files
!data/external/CRNS_Data/
!data/external/CRNS_Data/SanPedrodeAtacama/
!data/external/CRNS_Data/Chapiquilta/
!data/external/CRNS_Data/LCO/
!data/external/CRNS_Data/RetenDesierto/
!data/external/CRNS_Data/Maricunga/

# Keep any folder named "old" ignored
data/external/CRNS_Data/**/old/
data/external/CRNS_Data/**/old/**

# Unignore only the ROOT files we want to track
!data/external/CRNS_Data/SanPedrodeAtacama/*.root
!data/external/CRNS_Data/Chapiquilta/*.root
!data/external/CRNS_Data/LCO/*.root
!data/external/CRNS_Data/RetenDesierto/*.root
!data/external/CRNS_Data/Maricunga/*.root

# Allow selected PARMA flux ROOT files
!data/external/EXPACS_Data/
data/external/EXPACS_Data/**

!data/external/EXPACS_Data/parma_cpp_flopez/
!data/external/EXPACS_Data/parma_cpp_flopez/Chapiquilta_parma_fluxes.root
!data/external/EXPACS_Data/parma_cpp_flopez/LCO_parma_fluxes.root
!data/external/EXPACS_Data/parma_cpp_flopez/Maricunga_parma_fluxes.root
!data/external/EXPACS_Data/parma_cpp_flopez/RetenDesierto_parma_fluxes.root
!data/external/EXPACS_Data/parma_cpp_flopez/SanPedrodeAtacama_parma_fluxes.root
!data/external/EXPACS_Data/parma_cpp_flopez/ICRP116_binning_resume.csv

############################################################
###############Response Functions FILES#####################
############################################################

# Allow only selected spectrometer ROOT files
!data/external/Response_Functions_CEFNEN_Spectrometer/
data/external/Response_Functions_CEFNEN_Spectrometer/**

!data/external/Response_Functions_CEFNEN_Spectrometer/LIN_Spectrometer_2025_FTFP/
!data/external/Response_Functions_CEFNEN_Spectrometer/LIN_Spectrometer_2025_FTFP/wos_factor/
!data/external/Response_Functions_CEFNEN_Spectrometer/LIN_Spectrometer_2025_FTFP/ws_factor/
!data/external/Response_Functions_CEFNEN_Spectrometer/LIN_Spectrometer_2025_FTFP/wos_factor/*smooth_smooth_root_15*.root
!data/external/Response_Functions_CEFNEN_Spectrometer/LIN_Spectrometer_2025_FTFP/ws_factor/*smooth_smooth_root_15*.root

!data/external/Response_Functions_CEFNEN_Spectrometer/LIN_Spectrometer_2024_active_vol_fix/
!data/external/Response_Functions_CEFNEN_Spectrometer/LIN_Spectrometer_2024_active_vol_fix/wos_factor/
!data/external/Response_Functions_CEFNEN_Spectrometer/LIN_Spectrometer_2024_active_vol_fix/ws_factor/
!data/external/Response_Functions_CEFNEN_Spectrometer/LIN_Spectrometer_2024_active_vol_fix/wos_factor/*smooth_smooth_root_15*.root
!data/external/Response_Functions_CEFNEN_Spectrometer/LIN_Spectrometer_2024_active_vol_fix/ws_factor/*smooth_smooth_root_15*.root
