################################################
## Archivos o directorios a excluir del commit##
################################################

# ignores all .root .zip .txt .dat files
./*.root
./*.zip
./*.txt
./*.dat
./deconv_data_rootfile/*.root
./deconv_data_rootfile/EM/LCO/*.root
./deconv_data_rootfile/EM_MC/LCO/*.root
./deconv_data_rootfile/EM_MC_stop/LCO/*.root
./deconv_data_rootfile/EM_stop/LCO/*.root
./deconv_mc_data_energy_fitting/LCO/*.root

 # does not ignore the README.txt file
!README.txt
!deconv_data_rootfile/.keep_dir
!deconv_data_rootfile/EM/.keep_dir
!deconv_data_rootfile/EM/LCO/.keep_dir
!deconv_data_rootfile/EM_MC/LCO/.keep_dir
!deconv_data_rootfile/EM_MC_stop/LCO/.keep_dir
!deconv_data_rootfile/EM_stop/.keep_dir
!deconv_mc_data_energy_fitting/.keep_dir
!deconv_mc_data_energy_fitting/LCO/.keep_dir
!EXPACS_Data/EXPACS_Calc_nflux/*.dat
!EXPACS_Data/EXPACS_Calc_nflux_500/*.dat


# Ejemplos de directorios
# sql/
# [Tt]est[Rr]esult*/
