################################################
## Archivos o directorios a excluir del commit##
################################################

# ignores all .root .zip .txt .dat files
./*.root
./*.zip
./*.txt
./*.dat
./deconv_data_pdf/EM_unfolding_loop_event_40_maxsteps_20_timegrid_15_ndet_11_binseed_*
./deconv_data_rootfile/*.root
./deconv_data_rootfile/EM/*.root
./deconv_data_rootfile/EM_MC/*.root
./deconv_data_rootfile/EM_MC_stop/*.root
./deconv_data_rootfile/EM_MC_stop/em_mc_stop_more_it/*.root
./deconv_data_rootfile/EM_MC_stop/old_mc/*.root
./deconv_data_rootfile/EM_MC_stop/old_em_mc_stop_data/*.root
./deconv_data_rootfile/EM_MC_stop/data_em_mc_it/*.root
./deconv_data_rootfile/EM_stop/*.root
./deconv_mc_data_energy_fitting/*.root

 # does not ignore the README.txt file
!README.txt
!deconv_data_rootfile/EM/.keep_dir
!deconv_data_rootfile/.keep_dir
!EXPACS_Data/EXPACS_Calc_nflux/*.dat
!EXPACS_Data/EXPACS_Calc_nflux_500/*.dat


# Ejemplos de directorios
# sql/
# [Tt]est[Rr]esult*/
